html,
body,
.container {
	font-family: 'Black Ops One', cursive;
	background-image: url(../assets/carl-raw-m3hn2Kn5Bns-unsplash\ \(1\).jpg);
	width: 100%;
	height: 100%;
	margin: 0;
}

.container {
	display: grid;
	grid-template-columns: 12rem 1fr;
	grid-template-rows: 4rem 1fr 4rem;
	grid-template-areas:
		"header header header"
		"sidenav app-summary"
		"sidenav developer-bio";
}

.header {
	grid-area: header;
	background: #060938
}


.developer-bio {
	grid-area: developer-bio;
	background-color: lightgray;
}